<!-- <app-toolbar></app-toolbar> -->
<div class="container">
  <div class="tema">
    <h2 class="example-h2" [class.mudaTemaTitulo]="ligado == 'Claro'">Tema:</h2>
    <section class="example-section">
      <mat-slide-toggle
        class="example-margin"
        [color]="color"
        [checked]="checked"
        [disabled]="disabled"
        (change)="tema()"
        [class.mudaTema]="ligado == 'Escuro'"
      >
        {{ ligado }}.
      </mat-slide-toggle>
    </section>
  </div>

  <div class="entrada">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Primeiro Número</mat-label>
      <input [class.mudaTemaEntradaNro]="ligado == 'Escuro'"
        classe="entradaNro"
        matInput 
        [(ngModel)]="nro1"
        type="number"
        placeholder="Exemplo: 999."
      />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Segundo Número</mat-label>
      <input [class.mudaTemaEntradaNro]="ligado == 'Escuro'"
      classe="entradaNro"
        matInput
        [(ngModel)]="nro2"
        type="number"
        placeholder="Exemplo: 999."
      />
    </mat-form-field>
  </div>

  <div class="botoes">
    <button
      color="primary"
      mat-raised-button
      (click)="somar()"
      [class.mudaTemaBotaoSomar]="ligado == 'Claro'"
    >
      Somar
    </button>
    <button
      mat-button
      mat-raised-button
      (click)="limpar()"
      [class.mudaTemaBotaoLimpar]="ligado == 'Claro'"
    >
      Limpar
    </button>
  </div>

  <div class="resultado" [class.mudaTemaResultado]="ligado == 'Claro'">
    <input
      class="ResultadoInput"
      matInput
      disabled
      [value]="resultado"
      [class.mudaTemaResultadoInput]="ligado == 'Claro'"
    />
  </div>
</div>
