app-toolbar {
  width: 100%;
}

#wizzinho {
  margin: auto;
  display: flex;
  width: 10%;
  height: auto;
}

p {
  align-content: center;
  margin: auto 50px;
  padding: 50px;
  text-align: center;
  color: rgb(255, 165, 0);
  border-top: 3px solid blueviolet;
  border-bottom: 3px solid blueviolet;
  border-radius: 20px;
  min-width: 875px;
  position: relative;
}

p:hover{
  background-color: blueviolet;
}
