:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 30px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fa8703;
  color: white;
  font-weight: 600;
  min-width: 875px;
}

.toolbar img {
  margin: 20px 16px;
  border-radius: 50%;
  height: 3.5rem;
  width: auto;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.menu {
  display: flex;
}

.menu a {
  display: flex;
  margin: auto;
  width: 490px;
  color: #fa8703;
  font-size: 2vh;
  justify-content: center;
}

.menu a:hover {
  background-color: blueviolet;
  color: white;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.menuBar, app-toolbar {
  width: 100%;
}